body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #F5F8FE;
    margin: 0 auto;
}

/* section 1 styles */

.navigation h3{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 34px;
  color: #4E47FF;
   
}
.banner{
    width: 100%;
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 116px;
}

.banner-content {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 158px;
    padding-bottom: 155px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.navigation button {
    border: none;
     font-size: 16px;
     border-radius: 10px;
     font-weight: 300;
     background-color: #4E47FF;
     color: white;
     text-decoration: none;
     margin-top: 0px;
     cursor: pointer;
  transition: all 0.3s ease;
}
.navigation button a{
    text-decoration: none;
    color: #FFFFFF;
}
div{
    text-align: center;
}
div h1{
    width: 905px;
    margin: 0 auto;
    font-size: 65px;
    font-weight: bold;
}
div button{
     margin-top: 37px;
     border: none;
     font-size: 16px;
     padding: 13px 23px;
     border-radius: 10px;
     font-weight: 300;
     background-color: #4E47FF;
     color: white;
     margin-left: 120px;
     cursor: pointer;
     transition: all 0.3s ease;
}
div button a{
    text-decoration: none;
    color: #FFFFFF;
}

/* action section style*/

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    max-height: 328px;
    margin: 0 auto;
    margin-bottom: 116px;
}
.action .action-left{
    text-align: start;
    max-width: 430px;
}
.action-left button{
    margin-top: 23px;
    cursor: pointer;
  transition: all 0.3s ease;
}
.action-left button a{
    text-decoration: none;
    color: #FFFFFF;
}
.action-right img{
    border-radius: 48px;
}
.action-left h3{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-left p{
    font-size: 20px;
    opacity: 0.4;
}

/* users styles */

.user{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #E5E7FD;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 24px;
    margin-bottom: 137px;
}
.user-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-input .output h3{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    color: #4E47FF;
    margin: 0px;
}
.user-input .output p{
    font-size: 18px;
    opacity: 0.5;
}
.user h3{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

/* design styles */

.design{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 137px;
}
.design .matha{
    font-size: 42px;
    text-align: center;
}
.design-input{
    display: flex;
    gap: 20px;
    align-items: center;
}
.design-input .main-put{
    box-shadow: 0 1px 4px #e5ebf8;
    padding: 24px;
    border-radius: 14px;
    text-align: start;
    width: 366px;
}
.main-put h3{
    padding-bottom: 0px;
}
 
.customer img{
    margin: 0 auto;
    padding: 0 auto;
}
.main-put .customer img, div{
    text-align: start;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}
.main-put{
    height: 270px;
    background-color: #FAFCFF;
}
.customer div .opacity{
    opacity: 0.3 !important;
}

/* focus styles */

.focus{
    max-width: 1140px;
    margin: 0 auto;
   padding-top: 71px;
   padding-bottom: 71px;
    background-color: #FFFFFF;
    border-radius: 14px;
    margin-bottom: 92px;
}
.focus h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.focus p{
    text-align: center;
    font-size: 18px;
    opacity: 0.5;
    margin: 0px;
}
.focus div img{
    text-align: center;
    border-radius: 48px;
}
.focus div{
    text-align: center;
}
.focus div button{
    margin: 20px;
    cursor: pointer;
  transition: all 0.3s ease;
}
.focus div button a{
    text-decoration: none;
    color: #FFFFFF;
}

/* form style */

.form{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}

.form div h1{
    max-width: 528px;
    font-size: 97px;
}
.main-form{
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 480;
}
.main-form input, textarea{
    margin-bottom: 19px;
    padding: 17px 264px 17px 29px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px gainsboro;
    margin: 10px 10px 10px;
    margin-left: 0px;

}
.main-form label{
    font-size: 18px;
    fill-opacity: 0.7;
}
.main-form input[type="submit"]{
    text-align: center;
    padding: 0px;
    padding: 17px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    cursor: pointer;
  transition: all 0.3s ease;
}

/* footer style*/
.footer{
    background-color: #FFFFFF;
}
.footer-content{
    max-width: 1140px;
    margin: 0 auto;
    padding: 104px 455px 146px 454px;
}
.footer-content, .logo {
    text-align: center;
}
.logo .pu{
    text-align: center;
}
.footer-content .logo h1{
    font-size: 100px;
    color: #4E47FF;
    width: 291px;
}
.footer-content .logo .pu, ul{
    font-size: 18px;
    opacity: 0.5;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.03);
  }

input[type="submit"]:hover {
    background-color: #2980b9;
    transform: scale(1.03);
}