body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #F5F8FE;
}

/* section 1 styles */

.navigation h3{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 34px;
  color: #4E47FF;
   
}
.banner{
    width: 100%;
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 116px;
}

.banner-content {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 158px;
    padding-bottom: 155px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.navigation button, a {
    border: none;
     font-size: 16px;
     border-radius: 10px;
     font-weight: 300;
     background-color: #4E47FF;
     color: white;
     text-decoration: none;
     margin-top: 0px;
      
}
div{
    text-align: center;
}
div h1{
    width: 905px;
    margin: 0 auto;
    font-size: 65px;
    font-weight: bold;
}
div button{
     margin-top: 37px;
     border: none;
     font-size: 16px;
     padding: 13px 23px;
     border-radius: 10px;
     font-weight: 300;
     background-color: #4E47FF;
     color: white;
}

/* action section style*/

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    max-height: 328px;
    margin: 0 auto;
    margin-bottom: 116px;
}
.action .action-left{
    text-align: start;
    max-width: 430px;
}
.action-left button{
    margin-top: 23px;
}
.action-right img{
    border-radius: 48px;
}
.action-left h3{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-left p{
    font-size: 20px;
    opacity: 0.4;
}

/* users styles */

.user{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #E5E7FD;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 24px;
}
.user-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-input .output h3{
    font-size: 80px;
    color: #4E47FF;
    margin: 0px;
}
.user-input .output p{
    font-size: 18px;
    opacity: 0.5;
}
.user h3{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
